.navbar{
    padding: 20px;
    list-style: none;
}

.navbar ul li{
    display: inline-block;
}

.img-navbar{
    padding: 20px;
    align-items: flex-start;
}
.navbar .btn{
    color: rgb(255, 128, 0);
    background: rgba(243, 243, 236, 0.724);
    
}

.navbar .btn :hover{
    color:#6f340a;
}

.row {
    background-color: rgba(243, 243, 236, 0.724);
    padding: 20px;
}

h1{
    color:rgb(58, 58, 201);
    text-align: center;
    text-shadow: steelblue;
}

p{
    color: rgb(82, 80, 80);
}

h2{
    color:rgb(58, 58, 201);
    text-align: center;
}

.mb-3{
    padding: 20;
}

.btn{
    padding: 15 px;
    margin-top: 25px;
    color: coral;
}

footer{
    justify-content: space-around;
    background-color: #EECAB0;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
footer.redes{
    font-size: 25px;
    letter-spacing: 20px;
}

footer p{
    margin-bottom: 10px;
}

footer a{
    color:coral;
}

footer a:hover{
    color:#6f340a
}