.navbar{
    padding: 20px;
}



.img-navbar{
    padding: 20px;
    align-items: flex-start;
}
.navbar .btn{
    color: rgb(255, 128, 0);
    background: rgba(243, 243, 236, 0.724);
    
}
.row {
    background-color: rgba(243, 243, 236, 0.724);
    padding: 20px;
}

h1{
    color:rgb(58, 58, 201);
    text-align: center;
}

p{
    color: rgb(82, 80, 80);
}